html {
    box-sizing: border-box;
    font-size: 62.5%;  /* 1rem = 10px*/
    min-height: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to bottom, #e570e7 0%,#c85ec7 51%,#a849a3 100%);
    background-attachment: fixed;
  }


  h3, h2{
    margin: 0;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
  }

  /* header */

  .site-header{
    display: flex;
    justify-content: center;
    margin: 4rem auto;
  }

  .site-header img{
    width: 25.7rem;
    height: 10rem;
  }


  /* hero */

  .hero{
    display: flex;
    justify-content: center;
  }

  .hero img{
    width: 120rem;
    height: 75rem;
  }

  /* main */

  .contenedor{
    max-width: 1200px;
    margin: 0 auto ;
    width: 95%;
  }

  .contenedor h2{
    text-align: center;
    margin: 4rem;
    font-size: 4rem;
    color: white;
  }

  .contenedor-Productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }

  .productos{
    margin-bottom: 4rem;
    list-style: none;
  }

  .productos .imagen img{
    border: 1rem solid rgba(128, 1, 195, .45);
  }

  .productos .imagen img:hover{
    border: 1rem solid rgba(128, 1, 195, 1);
    transition: .3s;
  }

  .productos h3{
    font-size: 3.2rem;
    text-align: center;
    margin-top: 1rem;
    color: white;
  }

  .productos h3 span{
    font-size: 4.5rem;
    color: #FFCE00;
  }

  .productos .button{
    display: flex;
    justify-content: center;
  }

  .productos .button .btn{
    display: inline-block;
    background: #FFCE00;
    padding: 1rem 3.5rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #8001c3;
    text-decoration: none;
    margin: 2rem 0 0 0;
    transition: .3s;
  }

  .productos .button .btn:hover{
    background: #dcb20b;
  }